<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body class="sb-nav-fixed">
<nav th:replace="admin/layout :: topNavBar"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/layout :: navigation"></div>
    <div id="layoutSidenav_content">
        <!--                =============== BODY =====================================================-->

        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tổng quan</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Tổng quan</li>
                </ol>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                Lượt xem phim
                            </div>
                            <div class="card-body">
                                <canvas id="myAreaChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col"><i class="fas fa-chart-bar mr-1"></i>
                                        Doanh thu
                                    </div>
                                    <div class="col">
                                        <select style="border: none;background-color: #f7f7f7;width: 100%;">
                                            <option> 1212</option>
                                        </select>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="bar-chart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">

            </div>
        </footer>

        <!--                ==========================================================================-->
    </div>
</div>
<div th:replace="admin/layout :: footer"></div>
</body>
</html>
<script>
    document.title = "Trang chủ";
    $(document).ready(function () {
        $.ajax({
            url: "/api/doanhthu/",
            method: "get",
            success: function (jdata) {
                // Bar chart
                var data = [];
                var label = [];
                jdata.forEach(item => {
                    console.log("a");
                    if (item.nam == 2021) {
                        item.doanhthu.forEach(it => {
                            label.push(it.thang.toString());
                            console.log(it.doanhThuThang);
                            data.push(it.doanhThuThang / 1000000);
                        });
                    }
                });
                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: label,
                        datasets: [
                            {
                                label: "Doanh thu ( Triệu VNĐ)",
                                backgroundColor: ["#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd"],
                                data: data
                            }
                        ]
                    }
                });
            }
        })
    })
</script>