<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: head"/>
<body>
<div class="wrapper">
    <nav th:replace="user/fragments :: topBar"></nav>
    <header th:replace="user/fragments :: navigation"></header>
    <!--    ==============================================BODY==============================================-->

    <!--    =========================LIST PRODUCT======================-->
    <div id="products-tab" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#featured" data-toggle="tab">Nổi bật</a></li>
                    <li><a href="#new-arrivals" data-toggle="tab">Mới</a></li>
                    <li><a href="#top-sales" data-toggle="tab">Giảm giá</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder" id="listNoiBat">
                            <th:block th:each="item : ${listSanPhamsHot}">
                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon green"><span>bán chạy</span></div>
                                        <div class="ribbon blue" th:if="${item.sanphamEntity.isnew}"><span>mới !</span>
                                        </div>
                                        <div class="ribbon red" th:if="${item.sPkhuyenmaiEntity.giamgia}">
                                            <span>giảm giá</span></div>
                                        <div class="image">
                                            <img th:alt="${item.sanphamEntity.getTenSp()}"
                                                 th:src="${'/image/' + item.sanphamEntity.getMaSp()+ '/' + item.sanphamEntity.getAnh()}"/>
                                        </div>
                                        <div class="body">
                                            <div class="label-discount green" th:if="${item.sPkhuyenmaiEntity.giamgia}"
                                                 th:text="${item.sPkhuyenmaiEntity.giamgia + ' %'}"></div>
                                            <div class="title">
                                                <a href="single-product.html"
                                                   th:text="${item.sanphamEntity.getTenSp()}"></a>
                                            </div>
                                            <div class="brand" th:text="${item.brand}"></div>
                                        </div>
                                        <div class="prices" th:if="${item.sPkhuyenmaiEntity.giamgia}">
                                            <div class="price-prev" th:if="${item.sPkhuyenmaiEntity.giamgia}"
                                                 th:text="${#numbers.formatDecimal(item.sanphamEntity.getGia(),0,'DEFAULT',0,'DEFAULT')}"></div>
                                            <div class="price-current pull-right"
                                                 th:text="${#numbers.formatDecimal((item.sanphamEntity.getGia() * (100 - item.sPkhuyenmaiEntity.giamgia) / 100 ),0,'DEFAULT',0,'DEFAULT') +' '+ 'VNĐ'}"></div>
                                        </div>
                                        <div class="prices" th:unless="${item.sPkhuyenmaiEntity.giamgia}">
                                            <div class="price-current pull-right"
                                                 th:text="${#numbers.formatDecimal(item.sanphamEntity.getGia(),0,'DEFAULT',0,'DEFAULT')} +' '+ VNĐ"></div>
                                        </div>

                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <form action="/cart" method="post">
                                                    <button type="submit" class="le-button" id="addcart">thêm vào giỏ</button>
                                                    <input type="hidden" name="maSP"
                                                           th:value="${item.sanphamEntity.maSp}"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" id="noibat" style="cursor: pointer;">
                                <i class="fa fa-plus"></i>
                                Tải thêm</a>
                        </div>

                    </div>
                    <div class="tab-pane" id="new-arrivals">
                        <div class="product-grid-holder" id="listnew">
                            <th:block th:each="item : ${listSanPhamsNew}">
                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon blue"><span>mới !</span></div>
                                        <div class="ribbon green" th:if="${item.sanphamEntity.ishot}">
                                            <span>bán chạy</span></div>
                                        <div class="ribbon red" th:if="${item.sPkhuyenmaiEntity.giamgia}">
                                            <span>giảm giá</span></div>
                                        <div class="image">
                                            <img th:alt="${item.sanphamEntity.getTenSp()}"
                                                 th:src="${'/image/' + item.sanphamEntity.getMaSp()+ '/' + item.sanphamEntity.getAnh()}"/>
                                        </div>
                                        <div class="body">
                                            <div class="label-discount green" th:if="${item.sPkhuyenmaiEntity.giamgia}"
                                                 th:text="${item.sPkhuyenmaiEntity.giamgia + ' %'}"></div>
                                            <div class="title">
                                                <a href="single-product.html"
                                                   th:text="${item.sanphamEntity.getTenSp()}"></a>
                                            </div>
                                            <div class="brand" th:text="${item.brand}"></div>
                                        </div>
                                        <div class="prices" th:if="${item.sPkhuyenmaiEntity.giamgia}">
                                            <div class="price-prev" th:if="${item.sPkhuyenmaiEntity.giamgia}"
                                                 th:text="${#numbers.formatDecimal(item.sanphamEntity.getGia(),0,'DEFAULT',0,'DEFAULT')}"></div>
                                            <div class="price-current pull-right"
                                                 th:text="${#numbers.formatDecimal((item.sanphamEntity.getGia() * (100 - item.sPkhuyenmaiEntity.giamgia) / 100 ),0,'DEFAULT',0,'DEFAULT') +' '+ 'VNĐ'}"></div>
                                        </div>
                                        <div class="prices" th:unless="${item.sPkhuyenmaiEntity.giamgia}">
                                            <div class="price-current pull-right"
                                                 th:text="${#numbers.formatDecimal(item.sanphamEntity.getGia(),0,'DEFAULT',0,'DEFAULT')} +' '+ VNĐ"></div>
                                        </div>
                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <form action="/cart" method="post">
                                                    <button type="submit" class="le-button">thêm vào giỏ</button>
                                                    <input type="hidden" name="maSP"
                                                           th:value="${item.sanphamEntity.maSp}"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" id="new" style="cursor: pointer;">
                                <i class="fa fa-plus"></i>
                                Tải thêm</a>
                        </div>

                    </div>
                    <div class="tab-pane" id="top-sales">
                        <div class="product-grid-holder" id="listgiamgia">
                            <th:block th:each="item : ${listSanPhamsSale}">
                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon blue" th:if="${item.sanphamEntity.isnew}"><span>mới !</span>
                                        </div>
                                        <div class="ribbon green" th:if="${item.sanphamEntity.ishot}">
                                            <span>bán chạy</span></div>
                                        <div class="ribbon red" th:if="${item.sPkhuyenmaiEntity.giamgia}">
                                            <span>giảm giá</span></div>
                                        <div class="image">
                                            <img th:alt="${item.sanphamEntity.getTenSp()}"
                                                 th:src="${'/image/' + item.sanphamEntity.getMaSp()+ '/' + item.sanphamEntity.getAnh()}"/>
                                        </div>
                                        <div class="body">
                                            <div class="label-discount green"
                                                 th:if="${item.sPkhuyenmaiEntity.giamgia}"
                                                 th:text="${item.sPkhuyenmaiEntity.giamgia + ' %'}"></div>
                                            <div class="title">
                                                <a href="single-product.html"
                                                   th:text="${item.sanphamEntity.getTenSp()}"></a>
                                            </div>
                                            <div class="brand" th:text="${item.brand}"></div>
                                        </div>
                                        <div class="prices">
                                            <div class="price-prev" th:if="${item.sPkhuyenmaiEntity.giamgia}"
                                                 th:text="${#numbers.formatDecimal(item.sanphamEntity.getGia(),0,'DEFAULT',0,'DEFAULT')}"></div>
                                            <div class="price-current pull-right"
                                                 th:text="${#numbers.formatDecimal((item.sanphamEntity.getGia() * (100 - item.sPkhuyenmaiEntity.giamgia) / 100 ),0,'DEFAULT',0,'DEFAULT')  +' '+ 'VNĐ'}"></div>
                                        </div>

                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <form action="/cart" method="post">
                                                    <button type="submit" class="le-button">thêm vào giỏ</button>
                                                    <input type="hidden" name="maSP"
                                                           th:value="${item.sanphamEntity.maSp}"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" id="giamgia" style="cursor: pointer;">
                                <i class="fa fa-plus"></i>
                                Tải thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    =======================END LIST PRODUCT====================-->

    <!--    =============================================END BODY=========================================-->
    <div th:replace="user/fragments :: recentlyViewed"></div>
    <div th:replace="user/fragments :: footer"></div>
</div>
</body>
</html>