<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments :: head"/>
<body>

<div class="wrapper">
    <nav th:replace="user/fragments :: topBar"></nav>
    <header th:replace="user/fragments :: navigation"></header>
    <!--    ==============================================BODY==============================================-->
    <section id="cart-page">
        <div class="container" >
            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-md-9 items-holder no-margin" id="listProductInCart" >

                <th:block th:each="item : ${listProductInCart}">
                    <div class="row no-margin cart-item">
                        <div class="col-xs-12 col-sm-2 no-margin">
                            <a href="#" class="thumb-holder">
                                <img class="lazy" th:alt="${item.getSanPham().getSanphamEntity().getAnh()}"
                                     th:src="${'/image/' + item.getSanPham().getSanphamEntity().getMaSp()+ '/' + item.getSanPham().getSanphamEntity().getAnh()}"/>
                            </a>
                        </div>

                        <div class="col-xs-12 col-sm-5 ">
                            <div class="title">
                                <a href="#" th:text="${item.getSanPham().getSanphamEntity().getTenSp()}"></a>
                            </div>
                            <div class="brand" th:text="${item.getSanPham().getBrand()}"></div>
                        </div>
                        <div class="col-xs-12 col-sm-2 no-margin">
                            <div class="quantity">
                                <div class="le-quantity">
                                    <a class="minus" id="reduceProduct"
                                       th:onclick="'changeNumberProduct('+${item.getSanPham().getSanphamEntity().getMaSp()}+','+${maDH}+',-1);'"
                                       href="#reduce"></a>
                                    <input name="quantity" readonly="readonly" type="text"
                                           th:value="${item.getSoluong()}"/>
                                    <a class="plus" id="addProduct"
                                       th:onclick="'changeNumberProduct('+${item.getSanPham().getSanphamEntity().getMaSp()}+','+${maDH}+',1);'"
                                       href="#add"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 no-margin">
                            <div class="price"
                                 th:text="${#numbers.formatDecimal(item.getTonggia(), 0, 'COMMA', 0, 'POINT') +' VNĐ'}">
                            </div>
                            <a class="close-btn"
                               onclick="return confirm('Bạn có chắc muốn xoá sản phẩm này ??')"
                               th:href="${'/cart/delete?maSP=' + item.getSanPham().getSanphamEntity().maSp }"></a>
                        </div>
                    </div><!-- /.cart-item -->
                </th:block>

            </div>
            <!-- ========================================= CONTENT : END ========================================= -->

            <!-- ========================================= SIDEBAR ========================================= -->

            <script>

            </script>
            <div class="col-xs-12 col-md-3 no-margin sidebar " id="listTotalPrice">

                <div class="widget cart-summary">
                    <h1 class="border">Giỏ hàng</h1>
                    <div class="body">
                        <ul class="tabled-data no-border inverse-bold">
                            <li>
                                <label>tổng tiền sản phẩm</label>
                                <div class="value pull-right sum-prices"  th:text="${#numbers.formatDecimal(tongTienCart,0,'DEFAULT',0,'DEFAULT') + ' VNĐ'}"></div>
                            </li>
                            <li>
                                <label>Phí vận chuyển</label>
                                <div class="value pull-right">miễn phí</div>
                            </li>
                        </ul>
                        <ul id="total-price" class="tabled-data inverse-bold no-border" style="padding-top: 5px;">
                            <li>
                                <label>Tổng tiền thanh toán</label>
                                <div style="padding: 5px;" class="value pull-right sum-prices"  th:text="${#numbers.formatDecimal(tongTienCart,0,'DEFAULT',0,'DEFAULT') + ' VNĐ'}"></div>
                            </li>
                        </ul>
                        <div class="buttons-holder">
                            <a class="le-button big"
                               href="/cart/checkout">Thủ tục thanh toán</a>
                            <a class="simple-link block"
                               href="/index">Tiếp tục mua hàng</a>
                        </div>
                    </div>
                </div><!-- /.widget -->


            </div><!-- /.sidebar -->

            <!-- ========================================= SIDEBAR : END ========================================= -->
        </div>
    </section>
    <!--    =============================================END BODY=========================================-->
    <div th:replace="user/fragments :: recentlyViewed"></div>
    <div th:replace="user/fragments :: footer"></div>
</div>
</body>
<script>
    document.title = "Đăng nhập";

    function changeNumberProduct(maSP, maDH, n) {
        $("#listProductInCart").empty();
        $("#listTotalPrice").empty();
        var s = "";
        if(n == 1){
            s="add";
        }else if(n == -1){
            s="reduce";
        }
        $.ajax({
            url:"/api/cart/"+s+"/"+maSP+"/"+maDH,
            method:"get",
            success:function (data) {
                var totalPrice=0;
                var allNumber=0;
                data.forEach(item =>{
                    var gia = item.tonggia.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    totalPrice += item.tonggia;
                    allNumber+=item.soluong;
                    var tenSp = item.sanPham.sanphamEntity.tenSp;
                    var maSp = item.sanPham.sanphamEntity.maSp;
                    var anh = item.sanPham.sanphamEntity.anh;
                    var brand = item.sanPham.brand;
                    $("#listProductInCart").append("<div class=\"row no-margin cart-item\">\n" +
                        "                        <div class=\"col-xs-12 col-sm-2 no-margin\">\n" +
                        "                            <a href=\"#\" class=\"thumb-holder\">\n" +
                        "                                <img class=\"lazy\" alt=\""+tenSp+"\" src=\"/image/"+maSp+"/"+anh+"\">\n" +
                        "                            </a>\n" +
                        "                        </div>\n" +
                        "\n" +
                        "                        <div class=\"col-xs-12 col-sm-5 \">\n" +
                        "                            <div class=\"title\">\n" +
                        "                                <a href=\"#\">"+tenSp+"</a>\n" +
                        "                            </div>\n" +
                        "                            <div class=\"brand\">"+brand+"</div>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"col-xs-12 col-sm-2 no-margin\">\n" +
                        "                            <div class=\"quantity\">\n" +
                        "                                <div class=\"le-quantity\">\n" +
                        "                                    <a class=\"minus\" id=\"reduceProduct\" onclick=\"changeNumberProduct("+maSp+","+maDH+",-1);\" href=\"#reduce\"></a>\n" +
                        "                                    <input name=\"quantity\" readonly=\"readonly\" type=\"text\" value=\""+item.soluong+"\">\n" +
                        "                                    <a class=\"plus\" id=\"addProduct\" onclick=\"changeNumberProduct("+maSp+","+maDH+",1);\" href=\"#add\"></a>\n" +
                        "                                </div>\n" +
                        "                            </div>\n" +
                        "                        </div>\n" +
                        "\n" +
                        "                        <div class=\"col-xs-12 col-sm-3 no-margin\">\n" +
                        "                            <div class=\"price\">"+gia+" VNĐ</div>\n" +
                        "                            <a class=\"close-btn\" onclick=\"return confirm('Bạn có chắc muốn xoá sản phẩm này ??')\" href=\"/cart/delete?maSP="+maSp+"\"></a>\n" +
                        "                        </div>\n" +
                        "                    </div>");
                });
                var totalPriceS = totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                $("#listTotalPrice").append("<div class=\"widget cart-summary\">\n" +
                    "                    <h1 class=\"border\">Giỏ hàng</h1>\n" +
                    "                    <div class=\"body\">\n" +
                    "                        <ul class=\"tabled-data no-border inverse-bold\">\n" +
                    "                            <li>\n" +
                    "                                <label>Tổng tiền sản phẩm</label>\n" +
                    "                                <div class=\"value pull-right\">"+totalPriceS+" VNĐ</div>\n" +
                    "                            </li>\n" +
                    "                            <li>\n" +
                    "                                <label>Phí vận chuyển</label>\n" +
                    "                                <div class=\"value pull-right\">miễn phí</div>\n" +
                    "                            </li>\n" +
                    "                        </ul>\n" +
                    "                        <ul id=\"total-price\" style=\"padding-top: 5px;\" class=\"tabled-data inverse-bold no-border\">\n" +
                    "                            <li>\n" +
                    "                                <label>Tổng tiền thanh toán</label>\n" +
                    "                                <div style=\"padding: 5px;\" class=\"value pull-right\">"+totalPriceS+" VNĐ</div>\n" +
                    "                            </li>\n" +
                    "                        </ul>\n" +
                    "                        <div class=\"buttons-holder\">\n" +
                    "                            <a class=\"le-button big\"\n" +
                    "                               href=\"/cart/checkout\">Thủ tục thanh toán</a>\n" +
                    "                            <a class=\"simple-link block\"\n" +
                    "                               href=\"/index\">Tiếp tục mua hàng</a>\n" +
                    "                        </div>\n" +
                    "                    </div>\n" +
                    "                </div>");
            }
        })
    }
</script>
</html>